## Question 1
* sklearn has the iris dataset built in
* this is what we will be working with
* put the iris data into a dataframee where we have 5 columns (the 4 features and the target)
* but the target shouldn't be numerical, it should be the actual label (so put setosa not 0 in the target column)

In [1]:
from sklearn.datasets import load_iris
import pandas as pd
import numpy as np

iris = load_iris()

In [2]:
data = iris["data"]
labels = iris["target_names"]
feature_columns = iris["feature_names"]

df = pd.DataFrame(data, columns = feature_columns)
df["label"] = np.array([labels[x] for x in iris["target"]])

In [3]:
df.head(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [5]:
df.iloc[:,0:4].apply(lambda x: x-2)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  3.1               1.5               -0.6              -1.8
1                  2.9               1.0               -0.6              -1.8
2                  2.7               1.2               -0.7              -1.8
3                  2.6               1.1               -0.5              -1.8
4                  3.0               1.6               -0.6              -1.8
..                 ...               ...                ...               ...
145                4.7               1.0                3.2               0.3
146                4.3               0.5                3.0              -0.1
147                4.5               1.0                3.2               0.0
148                4.2               1.4                3.4               0.3
149                3.9               1.0                3.1              -0.2

[150 rows x 4 columns]

## Question 2
* using the data array from the iris variable (should be a numpy array of size 150x4), for each row and column, find the sum, min and max
* print out the results, but for the rows, show only the first 5 elements of the array and display the length (otherwise it will be large arrays since each row has a value)

In [5]:
c_sums = np.sum(iris["data"], axis = 0)
c_maxs = np.max(iris["data"], axis = 0)
c_mins = np.min(iris["data"], axis = 0)

r_sums = np.sum(iris["data"], axis = 1)
r_maxs = np.max(iris["data"], axis = 1)
r_mins = np.min(iris["data"], axis = 1)

print("Columns")
print("Sums:", c_sums)
print("Maxs:", c_maxs)
print("Mins:", c_mins)
print("\n")
print("Rows")
print("Sums:", r_sums[0:5], len(r_sums))
print("Maxs:", r_maxs[0:5], len(r_maxs))
print("Mins:", r_mins[0:5], len(r_mins))

Columns
Sums: [876.5 458.6 563.7 179.9]
Maxs: [7.9 4.4 6.9 2.5]
Mins: [4.3 2.  1.  0.1]


Rows
Sums: [10.2  9.5  9.4  9.4 10.2] 150
Maxs: [5.1 4.9 4.7 4.6 5. ] 150
Mins: [0.2 0.2 0.2 0.2 0.2] 150

## Question 3
* write a function to return the multiplication of two matrices
* use some sort of error handling to make sure the dimensions are compatible
* multiply the iris data (don't use the label) by it's transpose
* write an assert statement to make sure the matrix
* what are the dimensions of the results
* put the sum of each row of the resulting matrix into a vector, printing out the length and first 5 elements.

In [12]:
def mult(x,y):
    assert x.shape[1] == y.shape[0], "dimensions don't align"
    return x @ y

In [13]:
iris_transpose = mult(iris["data"], iris["data"].T)
iris_transpose.shape

(150, 150)

In [14]:
row_sum = np.sum(iris_transpose, axis = 1)
print(row_sum[0:5])
print(len(row_sum))

[6900.41 6495.81 6355.86 6335.09 6858.62]
150

## Question 4
* create a subset of the iris dataframe that doesn't have the label column
* for each row, find the index of the max feature value
    * if we have a row with values [10,2,3,4] we want to return 1 for min and 0 for max

In [3]:
sub_df = df.drop("label", 1)
sub_df.head(1)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2

In [4]:
max_val_row =  np.argmax(iris["data"], axis = 1)
print(max_val_row[0:5])
print(len(max_val_row))

[0 0 0 0 0]
150

In [5]:
min_val_row =  np.argmin(iris["data"], axis = 1)
print(min_val_row)
print(len(min_val_row))

[3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3]
150

## Question 5
* Use the above two vectors to make a dataframe with 2 columns, the first being the feature of minimum value and the second the feature name of the maximum value
* note, don't have the cell values be the index of the min/max value, have it be the feature name
    * a row should be [min_val = sepal width (cm), max_val = petal length (cm)]
* show the distributions for max and min features (how many times is each feature the max value for a row)

In [28]:
iris["feature_names"]

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [20]:
new_df = pd.DataFrame({
    "max_feature": [iris["feature_names"][x] for x in max_val_row],
    "min_feature": [iris["feature_names"][x] for x in min_val_row]
}, index = df.index)

new_df.head(5)

         max_feature       min_feature
0  sepal length (cm)  petal width (cm)
1  sepal length (cm)  petal width (cm)
2  sepal length (cm)  petal width (cm)
3  sepal length (cm)  petal width (cm)
4  sepal length (cm)  petal width (cm)

In [22]:
new_df.groupby("max_feature").count()

                   min_feature
max_feature
sepal length (cm)          150

In [23]:
new_df.groupby("min_feature").count()

                  max_feature
min_feature
petal width (cm)          150

## Question 6
* Describe a situation this type of functionality could be of use?

* If we had a transition matrix of distance matrix and wanted to find the most related items to each other
* If we had a dataset where each column was a period in time, for instance each row is a product and each column is sales on a given day, we could find the max sale period for each item
* If the rows were items and the columns distance to each cluster, we could quickly find cluster assignments

## Question 7
* sort the feature values for each row and replace the indices with the feature names
    * so each row will have 4 columns, the first column being the feature name that is the highest value, the second column being the feature name that is the second highest value
* note, watch out how argsort in numpy works.  you will need to reverse the order somehow.  the sorted(reverse = True) functionality might be of help.
* put the resulting 2-d array into a pandas dataframe and print show the first 5 rows.

In [24]:
iris["feature_names"]

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [46]:
#sort_array = [sorted(x, reverse = False) for x in np.argsort(iris["data"])]
# - flips the order
sort_array = np.argsort(-iris["data"])

sort_array[0]

array([0, 1, 2, 3])

In [47]:
def mapped(x, lst):
    return [lst[i] for i in x]

In [48]:
sort_array_f = np.apply_along_axis(mapped, 1, sort_array, lst = iris["feature_names"])

In [49]:
df.head(1)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,setosa

In [50]:
sorted_df = pd.DataFrame(sort_array_f)
sorted_df.head(5)

                   0                 1                  2                 3
0  sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
1  sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
2  sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
3  sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
4  sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)

## Question 8
* apply z-score normalization to each column in the iris data (note you do not need the target/label column)
* column wise meaning, treat each column as an array, and find the standard deviations and means of that column
* note, you can use zscore from scipy.stats
* results should be a pandas dataframe, printing out 5 rows.

In [21]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [22]:
from scipy.stats import zscore

In [23]:
z_score_df = sub_df.apply(zscore)

In [24]:
z_score_df.head(1)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0          -0.900681          1.019004          -1.340227         -1.315444

In [23]:
z_score_df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,1.500000e+02,1.500000e+02,1.500000e+02,1.500000e+02
mean,-2.775558e-16,-9.695948e-16,-8.652338e-16,-4.662937e-16
std,1.003350e+00,1.003350e+00,1.003350e+00,1.003350e+00
min,-1.870024e+00,-2.433947e+00,-1.567576e+00,-1.447076e+00
25%,-9.006812e-01,-5.923730e-01,-1.226552e+00,-1.183812e+00
50%,-5.250608e-02,-1.319795e-01,3.364776e-01,1.325097e-01
75%,6.745011e-01,5.586108e-01,7.627583e-01,7.906707e-01
max,2.492019e+00,3.090775e+00,1.785832e+00,1.712096e+00

## Question 9
* make a function that takes and 2d x and 1d y array and the size the training data, test data and valiation should be.  
* return 6 items
    * train_x, train_y, test_x, test_y, val_x, val_y
* do not use any modules.  this can be solved using bracket notation to subset.  Note // will take care of decimals in doing division.
* you can also use int() to convert a float to a whole number, to take care of uneven divsion
* make the params for the training, test and val size be decimals, that repsent percentages of the data.  For instance .8, .1, .1 means an 80% training, 10% test and 10% validation split
* use an assert to make sure the numbers at to 1
* print out the dimensions of all 6 elements

In [19]:
from sklearn.utils import shuffle

In [20]:
x = [1,2,3,4,5,6,7,8]
y = [1,2,3,4,5,6,7,8]

x,y = shuffle(x,y)

print(x)
print(y)

[4, 1, 8, 2, 6, 7, 3, 5]
[4, 1, 8, 2, 6, 7, 3, 5]

In [53]:
x = iris["data"]
y = iris["target"]

In [66]:
def train_test_split(x, y, train_size, test_size, val_size):
    assert train_size + test_size + val_size == 1, "ratios don't add to 1"
    train_idx = int(x.shape[0]*train_size)
    test_idx = int(x.shape[0]*test_size)
    val_idx = int(x.shape[0]*val_size)
    return {
        "x_train": x[:train_idx],
        "y_train": y[:train_idx],
        "x_test": x[train_idx:train_idx+test_idx],
        "y_test": y[train_idx:train_idx+test_idx],
        "x_val": x[train_idx+test_idx:],
        "y_val": y[train_idx+test_idx:]
    }

In [67]:
result = train_test_split(x,y,.8,.1,.1)

In [68]:
for k,v in result.items():
    print(k, v.shape)

x_train (120, 4)
y_train (120,)
x_test (15, 4)
y_test (15,)
x_val (15, 4)
y_val (15,)

## Question 10
* using pandas, find the sum of each feature by species type (label)
* do the same, but find the min, max and median as well

In [70]:
df.groupby("label").sum()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
label,,,,
setosa,250.3,171.4,73.1,12.3
versicolor,296.8,138.5,213.0,66.3
virginica,329.4,148.7,277.6,101.3

In [71]:
df.groupby("label").min()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
label,,,,
setosa,4.3,2.3,1.0,0.1
versicolor,4.9,2.0,3.0,1.0
virginica,4.9,2.2,4.5,1.4

In [72]:
df.groupby("label").max()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
label,,,,
setosa,5.8,4.4,1.9,0.6
versicolor,7.0,3.4,5.1,1.8
virginica,7.9,3.8,6.9,2.5

In [73]:
df.groupby("label").median()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
label,,,,
setosa,5.0,3.4,1.50,0.2
versicolor,5.9,2.8,4.35,1.3
virginica,6.5,3.0,5.55,2.0

## Question 11
* mean center each column of the iris dataframe (excluding the label column of course)
* this means, for each column, the mean should be zero.  to accomplish this we can subtract the column mean from each element of the column
* note, broadcasting, which if we have say a 150 row and 4 column dataframe, can  take a row vector of size 4 and apply it to each element
*  thus, we can answer this questions doing something like df - df_col_means
* run the describe() method at the end to show the data's been mean center

In [29]:
sub_df.mean(axis = 0)

sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
dtype: float64

In [30]:
norm_mean = sub_df - sub_df.mean(axis = 0)
norm_mean.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,1.500000e+02,1.500000e+02,1.500000e+02,1.500000e+02
mean,-1.125026e-15,-7.608728e-16,-2.552033e-15,-4.485301e-16
std,8.280661e-01,4.358663e-01,1.765298e+00,7.622377e-01
min,-1.543333e+00,-1.057333e+00,-2.758000e+00,-1.099333e+00
25%,-7.433333e-01,-2.573333e-01,-2.158000e+00,-8.993333e-01
50%,-4.333333e-02,-5.733333e-02,5.920000e-01,1.006667e-01
75%,5.566667e-01,2.426667e-01,1.342000e+00,6.006667e-01
max,2.056667e+00,1.342667e+00,3.142000e+00,1.300667e+00

In [31]:
norm_mean.head(1)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0          -0.743333          0.442667             -2.358         -0.999333

## Quesiton 12
* Explain what the axis mean in regards to a pandas dataframe and numpy array
* How would you groupby two columns in pandas?
* what functions are used to read in csvs and excel files in pandas

* axis refer to how functions are applied.  axis of 0 means apply a function columnwise while axis 1 means apply rowise
* df.groupby([col_1,col_2]).sum()
* read_csv(), read_excel()

## Question 13
* using Pandas, subset the dataset for only species setosa and petal length > 1.3
* add up the feature columns and display the sums for each (excluding the label column)
* do the same, but change the and to an or

In [90]:
df.head(1)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,setosa

In [34]:
df[df["label"] == 'setosa'][df['petal length (cm)'] > 1.3].shape

/Users/conagrabrands/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

(39, 5)

In [36]:
df_2 = df[(df["petal length (cm)"] > 1.3) & (df["label"] == "setosa")]
df_2.drop("label",1).sum(axis = 0)

sepal length (cm)    196.7
sepal width (cm)     135.0
petal length (cm)     59.5
petal width (cm)       9.8
dtype: float64

In [37]:
df_2.shape

(39, 5)

In [92]:
df_3 = df[(df["petal length (cm)"] > 1.3) | (df["label"] == "setosa")]
df_3.drop("label",1).sum(axis = 0)

sepal length (cm)    876.5
sepal width (cm)     458.6
petal length (cm)    563.7
petal width (cm)     179.9
dtype: float64

## Question 14
* write a lambda that subtracts 2 from all elements of a pandas dataframe
* display the top 5 rows
* use the same lambda,  but applying it to thee sepal length  column.  note, we want the sepal length column in the given dataframe to now have 2 subtracted from all the values
* so the output should be a dataframe where all cells have had 2 subtracted and then another dataframe where only sepal length has 2 subtracted from it

In [51]:
sub_df = df.drop("label", 1)
sub_df.head(5)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [52]:
sub_2 = sub_df.apply(lambda x: x - 2)
sub_2.head(5)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                3.1               1.5               -0.6              -1.8
1                2.9               1.0               -0.6              -1.8
2                2.7               1.2               -0.7              -1.8
3                2.6               1.1               -0.5              -1.8
4                3.0               1.6               -0.6              -1.8

In [53]:
sub_df["sepal length (cm)"] = sub_df["sepal length (cm)"].apply(lambda x: x - 2)
sub_df.head(5)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                3.1               3.5                1.4               0.2
1                2.9               3.0                1.4               0.2
2                2.7               3.2                1.3               0.2
3                2.6               3.1                1.5               0.2
4                3.0               3.6                1.4               0.2

## Question 15
* normalize each column of pandas dataframe to 0-1 scale.
* hint
    * 0-1 is done by using (X - xmin)/(xmax - xmin)
    * remember what df.min() and df.max() do and that they pandas dataframes can be subtracted and divided elementwise

In [54]:
df1 = df.drop("label", 1)
df_norm = (df1-df1.min())/(df1.max()-df1.min())
df_norm.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,0.428704,0.440556,0.467458,0.458056
std,0.230018,0.181611,0.299203,0.317599
min,0.000000,0.000000,0.000000,0.000000
25%,0.222222,0.333333,0.101695,0.083333
50%,0.416667,0.416667,0.567797,0.500000
75%,0.583333,0.541667,0.694915,0.708333
max,1.000000,1.000000,1.000000,1.000000

In [56]:
df_norm.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0           0.222222          0.625000           0.067797          0.041667
1           0.166667          0.416667           0.067797          0.041667
2           0.111111          0.500000           0.050847          0.041667
3           0.083333          0.458333           0.084746          0.041667
4           0.194444          0.666667           0.067797          0.041667

## Question 16
* assume the below 2 matrices, the first is observations and the second is cluster centers
* using cdist from scipy, create a matrix where the rows are observations and the columns cluster centers and the cells are the distances

In [10]:
import numpy as np
from scipy.spatial.distance import cdist

In [11]:
# each row is an observation
# there is 3 features in the data set
observations = np.array([
    [1,2,3],
    [4,3,1],
    [2,3,4]
])

# each row is a cluster center
# each column is a feature
cluster_centers = np.array([
    [2,3,1],
    [2,1,3]
])

In [12]:
D = cdist(observations, cluster_centers, 'euclidean')
D

array([[2.44948974, 1.41421356],
       [2.        , 3.46410162],
       [3.        , 2.23606798]])