### Control-F in excel functionality

In [10]:
import pandas as pd

In [11]:
data = [
    ["brian", "craft"],
    ["rin", "craf"],
    ["bian", "crat"],
    ["rian", "caft"],
]

df = pd.DataFrame(data, columns = ["a", "b"])

In [12]:
df

       a      b
0  brian  craft
1    rin   craf
2   bian   crat
3   rian   caft

In [13]:
# column wise searching
# df.index[df['a'].str.contains("c")].tolist()
# df.index[df['b'].str.contains("c")].tolist()

In [14]:
# hardcoded what to search for
# in this case we search for t
def udf(x):
    if "t" in x:
        return True
    else:
        return False

In [15]:
# if it can't find the pattern returns -1
# so -1 is false here, can't find
"string".find("z")

-1

In [16]:
# apply function to each element
pattern = "t"

# true if pattern found else false
df.applymap(lambda x: False if x.find(pattern) == -1 else True)

# df.applymap(udf)

       a      b
0  False   True
1  False  False
2  False   True
3  False   True

In [17]:
# sum along rows, so we get count for each
# row where the condition was true, True is
# treated as 1
df.applymap(udf).sum(axis = 1)

0    1
1    0
2    1
3    1
dtype: int64

In [18]:
# this creates true false logic which we can pass to bracket notation
df.applymap(udf).sum(axis = 1) > 0

0     True
1    False
2     True
3     True
dtype: bool

* https://docs.python.org/3.1/library/itertools.html#itertools.compress
* this is what's happening with the boolean subsetting
* think of the lists sitting on top of each other, where a true matches up, that element is returned

In [19]:
from itertools import compress

a = [True, False, True, False, True]
b = [1,2,3,4,5]

list(compress(b,a))

[1, 3, 5]

In [20]:
pattern = "t"
tmp = df.applymap(lambda x: False if x.find(pattern) == -1 else True)
idxs = df.index[tmp.sum(axis = 1) > 0]

# row 0 has a cell with a t (col b)
# row 1 has no cells with a t
# row 2 has a cell with a t (col b)
# row 3 has a cell with a t (col b)
idxs

Int64Index([0, 2, 3], dtype='int64')

In [21]:
df

       a      b
0  brian  craft
1    rin   craf
2   bian   crat
3   rian   caft

In [24]:
pattern = "f"
tmp = df.applymap(lambda x: False if x.find(pattern) == -1 else True)
idxs = df.index[tmp.sum(axis = 1) > 0]

# row 0 has a cell with a f (col b)
# row 1 has a cell with an f (col b)
# row 2 has no cell with an f
# row 3 has a cell with an f (col b)
idxs

Int64Index([0, 1, 3], dtype='int64')

### Select Numeric Columns

In [1]:
import pandas as pd

In [2]:
data = [
    [1,2,3,"A"],
    [1,2,3,"A"]
]

df = pd.DataFrame(data, columns = ["num1","num2","num3","str1"])

In [3]:
df

   num1  num2  num3 str1
0     1     2     3    A
1     1     2     3    A

In [4]:
df.dtypes

num1     int64
num2     int64
num3     int64
str1    object
dtype: object

In [5]:
df._get_numeric_data()

   num1  num2  num3
0     1     2     3
1     1     2     3

In [6]:
df._get_numeric_data().columns

Index(['num1', 'num2', 'num3'], dtype='object')

In [7]:
# categorical columns
[x for x in df.columns if x not in df._get_numeric_data().columns]

['str1']